* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: #e5e7eb;
  line-height: 1.7;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #38bdf8;;
  height: 80px;
  background-color: #020617;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #38bdf8;
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
}

.hero-content h1 {
  font-size: 3.2rem;
  color: #38bdf8;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.3rem;
  color: #cbd5f5;
}

.btn {
  display: inline-block;
  margin: 25px 10px 0;
  padding: 12px 30px;
  background: #38bdf8;
  color: #020617;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(56,189,248,0.4);
}

.btn-outline {
  background: transparent;
  color: #38bdf8;
  border: 2px solid #38bdf8;
}

.section {
  padding: 100px 20px;
}

.section.dark {
  background: #020617;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.section h2 {
  font-size: 2.4rem;
  margin-bottom: 40px;
  border-left: 5px solid #38bdf8;
  padding-left: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  border-color: #38bdf8;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.project {
  background: #020617;
  padding: 30px;
  border-radius: 18px;
  border: 1px solid #1e293b;
  transition: 0.3s;
}

.project:hover {
  transform: scale(1.05);
  border-color: #38bdf8;
}

.project h3 {
  color: #38bdf8;
  margin-bottom: 15px;
}

.contact p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.contact a {
  color: #e5e7eb;
  text-decoration: none;
  transition: 0.3s;
}

.contact a :hover {
  color: #38bdf8;
}

footer {
  text-align: center;
  padding: 30px;
  border-top: 1px solid #1e293b;
  color: #64748b;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hero-content h1 {
    font-size: 2.4rem;
  }
}
